.notification {
    color: black;
    text-decoration: none;
     padding-right: 15px;
    /*position: relative;*/
    display: inline-block;
    border-radius: 2px;
}
.badge {
    position: absolute;
    top: 5px;
    right: 12px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.shopping-cart-contend{
    width: 300px;
    position: absolute;
    top: 42px;
    right: 10px;
    text-align: left;
    display: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.user-contend{
    width: 150px;
    position: absolute;
    top: 42px;
    right: 25px;
    text-align: left;
    display: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
}
.cart-list-item{
    padding: 10px 20px 0px 20px;
    width: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.cart-list-item::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}
.remove-btn:hover{
    color: red;
}
